body {
    background-color: #f4f4f4;
}

.main section {
    font-family: 'Times New Roman', Times, serif;
    font: 1em sans-serif;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}
#project1 {
    border-color: yellowgreen;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
}
#project2 {
    border-color: yellowgreen;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
}
#project3 {
    border-color: yellowgreen;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
